
@media screen and (min-width:576px) {
    .mEventDetailImg{width: 245px;}
    .mEvetntDetail1{left: 20px; top: 7px;}
    .mEvetntDetail2{left: 0px; top: 8px; right: 0; margin: 0 auto;}
}
@media screen and (min-width:768px) {
    .mHeaderLanding{background: url("../assets/img/ali-ahmadi-yc9yEf-UsYc-unsplash\ 1\ 1.png") no-repeat center center;}
    .mLandingHeaderBorder{
        width: 100%;
        height: 160px;
        border-bottom: 1px solid var(--natural-60);
    }
    .mHeaderLandingMobileContainer{display: none;}
    .mHeaderLandingDesktop{display: flex;}
    .mHeaderLandingContainer{gap: 30px;}
    .mLandingMenu{gap: 16px; margin-left: 0;}
    .HeaderLandingContentContainer{display: flex;}
    .mLandingHeaderSlider{display: flex;}
    .mLandingHeaderBackNext{display: flex;}
    .mLandingHeaderMobile{display: none;}
    .LandingLinks{gap: 24px;}
    .LandingLinkContainer{flex-direction: row; align-items: center; justify-content: center;}
    .mLandingServiceContainer{flex-wrap: wrap; flex-direction: row;}
    .mPopularTours{gap: 64px; margin: 64px auto; flex-direction: column;}
    .PopulartoursContainer{gap: 32px;}
    .mPopularToursTitle{font-size: 28px;}
    .mPopularTourContainer{flex-direction: row;}
    .mEventDetailImg{width: 345px;}
    .mEvetntDetail1{left: 20px; top: 20px;}
    .mEvetntDetail2{left: 20px; top: 20px;}
    .mEvetntDetailbutton1{height: 37px;width: 138px;}
    .mEvetntDetailbutton2{height: 37px;width: 138px;}
    .mEvetntDetailDate{font-size: 21px; line-height: 150%;}
    .mEvetntDetailTitle{font-size: 18px; line-height: 150%;}
    .mEvetntDetail2{left: 8px; top: 0px; width: 230px; padding: 6px;}
    .mLandingIntroducingVideo{width: 100%; height: 305px;}
    .mCommentTitle{font-size: 24px;}
    .mComment{gap: 32px;}
    .mCommentDescription{font-size: 16px; max-width: 633px;}
    .mCommentInfoPerv{width: 30px;height: 30px;}
    .mCommentInfoBack{width: 30px;height: 30px;}
    .mCommentInfoSvg1{left: -11%;width: 56px; bottom: 147px;}
    .mCommentInfoSvg2{right: -8%;width: 56px; bottom: 27px;}
    .mLandingBlogContainer{flex-direction: row;}
    .mLandingQuestions{gap: 48px;}
    .mLandingQuestionsTitle{font-size: 24px;}

    





    




    
}
@media screen and (min-width:992px) {
    .mHeaderLandingContainer{gap: 32px;}
    .mHeaderLanguageImgContainer{width: 40px;height: 40px;}
    .mLandingMenu{gap: 24px;}
    .mHeaderLandingImg{width: 116px; margin-right: 130px;}
    .HeaderLandingContentContainer{display: flex; justify-content: end;}
    .LandingLink{width: 194px; height: 64px;}
    .LandingLinks{margin:64px auto;}
    .mEventDetailImg{width: 450px;}
    .mEvetntDetail1{left: 20px; top: 40px;}
    .mEvetntDetail2{left: 8px; top: 23px; width: 230px; padding: 8px;}
    .mForeignTours{display: flex;}

    .mLandingIntroducing{flex-direction: row; margin-top: 64px;}
    .mLandingIntroducingVideo{height: 250px;}
    .mLandingIntroducingData{width: 60%;}

    

}

@media screen and (min-width:1200px) {
    .mHeaderLandingContainer{gap: 34px;}
    .mHeaderLanguageContainer{}
    .mHeaderLandingLogo{margin-right: 120px;}
    .mHeaderLandingForm{width: 219px;}
    .mLandingFormImg{margin-left: 0;}
    .mHeaderLandingImg{ margin-right: 0;}
    .mLandingServiceTitle{max-width: 255px;}
    .mLandingService{width: 300px; height: 250px;}
    .mLandingServiceContainer{ flex-wrap: nowrap;}
    .mEventDetailImg{width: 530px;}
    .mEvetntDetail2{left: 8px; top: 35px; margin: 0; width: 240px;}
    .mLandingPlaceImg{top: -37px;}
    .mLandingPlaceImg{left: -3px;  margin: 0;}
    .mLandingPlace{height: 280px;}
    .mLandingPlaceImg{left: -3px;bottom: 0;}
    .mLandingPlace{height: 280px; flex-direction: row;}
    .mLandingPlaceDetail{width: 70%;}
    .mLandingBlogContainer{flex-wrap: nowrap;}
    

    

    

}

@media screen and (min-width:1400px) {
    .mHeaderLandingContainer{
        gap: 36px;
    }
    .mLandingService{height: 294px;}
    .mEventDetailImg{
        width: 630px;
    }
    .mEvetntDetail2{left: 25px; top: 72px; width: 280px;}
    .mEvetntDetail1{left: 25px; top: 72px;}
    

}