

.mHeaderLanding{
    height: 800px; 
}

.mLandingNavbar{
    
}
.mHeaderLandingDesktop{
    width: 100%;
    height: 160px;
    display: none;
    justify-content: space-between;
    align-items: center; 
}
.mHeaderLandingContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center; 
    
}
/* .mHeaderLandinglanguage{
    
} */
.mHeaderLanguageContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
.mHeaderLanguageText{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IBMPlexSans-Bold";
}
.mHeaderLanguageTextImg{
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 4px;
    
}
.mHeaderLanguageImgContainer{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 100px;
}
.mHeaderLanguageImg{
    width: 24px;
    height: 24px;
    position: relative;
}
.mLandingMenu{
    margin-left: 7.5px;
    display: flex;
    align-items: center;
}
.mLandingMenulist{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Lato-Bold";
    /* margin-right: 24px; */
}
.mLandingMenulists{}
.mLandingMenuLink{}
.mLandingMenuLinkImg{
    width: 16px;
    height: 16px;
    margin-left: 4px;
    cursor: pointer;
}
.mHeaderLandingLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mHeaderLandingImg{
   
}
.mHeaderLandingSearchProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.mHeaderLandingForm{
    width: 194px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--natural-50);
    border-radius: 100px;
    padding: 0 8px ;
    gap: 8px;
}
.mLandingFormImg{
    margin-left: 14px;
}
.mLandingFormInput{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 11px 0;

}
.mLandingFormInput::placeholder{
    color: var(--primary-70);
    font-family: "Yekan-Regular";
}
.mlandingProfileContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mLandingProfileImg{
    margin-right: 24px;
    width: 24px;
    height: 24px;
}
.mLandingProfile{}
.mLandingProfileLink{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 100px;
}




.mHeaderLandingMobileContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.mMobileLandingHamburgureMenu{}
.mMobileLandingLogoContainer{
    display: flex;
    align-items: center;
    gap: 16px;
}
.mMobileLandingLogoTitle{
    font-family: "IBMPlexSans-Regular";
    font-size: 20px;
    color: var(--natural);
}
.mMobileLandingLogoImg{}