

.mHeaderLanding{
    height: 800px; 
}

.mLandingNavbar{
    
}
.mHeaderLandingDesktop{
    width: 100%;
    height: 160px;
    display: none;
    justify-content: space-between;
    align-items: center; 
}
.mHeaderLandingContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center; 
    
}
/* .mHeaderLandinglanguage{
    
} */
.mHeaderLanguageContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
.mHeaderLanguageText{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "IBMPlexSans-Bold";
}
.mHeaderLanguageTextImg{
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 4px;
    
}
.mHeaderLanguageImgContainer{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 100px;
}
.mHeaderLanguageImg{
    width: 24px;
    height: 24px;
    position: relative;
}
.mLandingMenu{
    margin-left: 7.5px;
    display: flex;
    align-items: center;
}
.mLandingMenulist{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Lato-Bold";
    /* margin-right: 24px; */
}
.mLandingMenulists{}
.mLandingMenuLink{}
.mLandingMenuLinkImg{
    width: 16px;
    height: 16px;
    margin-left: 4px;
    cursor: pointer;
}
.mHeaderLandingLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}
.mHeaderLandingImg{
    width: 87px;
    margin-right: 80px;
   
}
.mHeaderLandingSearchProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.mHeaderLandingForm{
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--natural-50);
    border-radius: 100px;
    padding: 0 8px ;
    gap: 8px;
}
.mLandingFormImg{
    margin-left: 14px;
}
.mLandingFormInput{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 11px 0;

}
.mLandingFormInput::placeholder{
    color: var(--primary-70);
    font-family: "Yekan-Regular";
}
.mlandingProfileContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mLandingProfileImg{
    margin-right: 24px;
    width: 24px;
    height: 24px;
}
.mLandingProfile{}
.mLandingProfileLink{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 100px;
}




.mHeaderLandingMobileContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.mMobileLandingHamburgureMenu{}
.mMobileLandingLogoContainer{
    display: flex;
    align-items: center;
    gap: 16px;
}
.mMobileLandingLogoTitle{
    font-family: "IBMPlexSans-Regular";
    font-size: 20px;
    color: var(--natural);
}
.mMobileLandingLogoImg{}



.HeaderLandingContentContainer{
    display: none;
    justify-content: center;
}
.HeaderLandingContent{
    padding: 40px 42px;
    margin-top: 34px;
    border: 1px solid var(--primary-10); 
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    gap: 32px;
}
.HeaderLandingTitle{
    color: var(--secondary-10);
    font-size: 40px;
    line-height: 150%;
    font-family: "Lato-Bold";
}
.HeaderLandingDescription{
    color: var(--secondary-20);
    font-size: 21px;
    line-height: 150%;
    font-family: "Lato-Bold";
}
.HeaderLandingbutton{
    padding: 20px 40px; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.mLandingHeaderSlider{
    position: relative;
    top: 35px;
    right: 778px;
    display: none;
    justify-content: flex-end;
    gap: 16px;
}
.mLandingHeaderSliderBox{
    position: relative;
    width: 142px;
    height: 185px;
    border-radius: 8px;
    overflow: hidden;
}
.mLandingHeaderTour{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(147, 200, 200, 0.5);
    color: var(--primary-10);
    padding: 8px 0;
}
.mLandingHeaderTourImg{
    width: 100%;
    height: 100%;
}
.mLandingHeaderTourTitle{
    font-family:"Yekan-Bold";
    font-size: 18px;
    margin-left: 4px;
}
.mLandingHeaderTourDays{
    font-family: "Lato-Regular";
    line-height: 180%;
    font-size: 14px;
    margin-left: 4px;
}



.mLandingHeaderBackNext{
    position: relative;
    width: 200px;
    height: 50px;
    display: none;
    bottom: -59px;
    justify-content: center;
    margin: 0 auto;
    z-index: 100;
}
.mLandingHeaderNext{
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mLandingHeaderBack{
    
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}


.mLandingHeaderMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
}
.mLandingHeaderMobileMainContainer{
    position: relative;
}
.mLandingHeaderMobileMainImg{}
.mLandingHeaderMobilebutton{
    padding: 16px 32px;
    width: 64px;
    position: absolute;
    top: 171px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.mLandingHeaderMobileMainImgs{
    display: flex;
    gap: 16px;
}
.a{
    background:linear-gradient(rgba(141, 200, 208, 0.6), rgba(141, 200, 208, 0.6));
}
.mLandingHeaderMobileSelected{
    width: 78px;
    height: 77px;
    border-radius: 8px;
}


.LandingLinks{
    display: flex;
    gap: 16px;
    margin:40px auto;
    justify-content: center;
}
.LandingLink{
    width: 171px;
    height: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.LandingLinkContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.mLandingservices{
    margin: 0 auto;
    text-align: center;

}
.mLandingServicesTitle{
    margin-bottom: 24px;
    color: var(--primary);
    font-size: 24px;
    line-height: 150%;
    font-family: "Lato-Bold";
}
.mLandingServiceContainer{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.mLandingService{
    width: 358px;
    height: 269px;
    border: 1px solid var(--natural-90);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    padding: 24px;
}
.mLandingServiceImgContainer{
    width: 72px;
    height: 72px;
    border-radius: 100px;
    border: 2px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mLandingServiceImg{
    width: 40px;
    height: 40px;
}
.mLandingServiceTitle{
    max-width: 294px;
    font-size: 16px;
    color: var(--primary);
    font-family: "Lato-Bold";
    line-height: 150%;
}
.mLandingServiceDescription{
    font-family: "";
    line-height: 180%;
    font-size: 14px;
    color: var(--natural);
}


.mPopularTours{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px auto;
}
.PopulartoursContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    gap: 24px;
}
.mPopularToursHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mPopularToursTitle{
    color: var(--natural);
    font-family: "Lato-Bold";
    font-size: 19px;
}
.mPopularToursMore{
    cursor: pointer;
    font-size: 14px;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.mPopulartoursMoreImg{
}

.mPopularTourContainer{
    margin: 0 auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}
.mPopularTour{
    
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--natural-50);
    border-radius: 8px;
    overflow: hidden;
}
.mPopularTourImg{
    
}
.mPopularTourDay{
    padding: 5px 12px;
    background-color: var(--error-70);
    position: absolute;
    top: 28px;
    right: 72px;
    font-size: 12px;
    font-family: "Lato-Regular";
    color: white;
    border-radius: 100px;

}
.mPopularTourDiscount{
    position: absolute;
    right: 24px;
    top: 24px;
    color: white;
    font-family: "Lato-Regular";
    font-size: 14px;
    width: 40px;
    height: 40px;
    background-color: var(--success-90);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mPopularTourDetails{
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.mPopularTourTitles{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato-Bold";
    gap: 13px;
}
.mPopularTourTitle{
    font-size: 16px;
    color: var(--natural);
}
.mPopularTourTitleCost{
    color: var(--primary-70);
}
.mPopularTourStars{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 16px;
}
.mPopularTourStar{
    cursor: pointer;
}
.mBrokenStar{
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.mStar{
    
    width: 16px;
    height: 16px;
}



.mEvents{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}
.mEventContainer{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin: 0 auto;

}
.mEvent{
    position: relative;

}
.mEvetntDetail1{
    position: absolute;
    text-align: center;
    top: 72px;
    left: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    background-color: rgba(170, 165, 153, 0.6);


}
.mEvetntDetail2{
    position: absolute;
    text-align: center;
    top: 72px;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    background-color: rgba(125, 175, 182, 0.4);

}
.mEventDetailImg{
    width: 558px;
}
.mEvetntDetailTitle{
    font-size: 15px;
    line-height: 120%;
}
.mEvetntDetailDate{
    font-size: 14px;
    font-family: "Lato-Bold";
    color: var(--secondary-80);
    line-height: 100%;
}

.mEvetntDetailbutton2{
    margin:  0 auto;
    height: 29px;
    color: var(--primary-90);
    width: 122px;
}
.mEvetntDetailbutton1{
    margin:  0 auto;
    height: 29px;
    width: 122px;
}

.mLandingPlace{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: end;
    width: 90%;
    height: 500px;
    border: 3px solid var(--primary-80);
    background-color: var(--primary-20);
    margin-top: 181px;
    gap: 40px;
    padding: 40px;

}
.mLandingPlaceImg{
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}
.mLandingPlaceDetail{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.mLandingPlaceTitle{
    color: var(--natural);
    font-family: "Lato-Bold";
    font-size: 28px;
    margin-bottom: 16px;
}
.mLandingPlaceDescription{
    font-family: "Lato-Regular";
    color: var(--natural);
    line-height: 180%;
    font-size: 16px;
    margin-bottom: 32px;
}
.mLandingPlacebuttons{
    display: flex;
    gap: 16px;
    justify-content: end;
}
.mLandingPlacebutton1{
    padding: 16px 32px;
}
.mLandingPlacebutton2{
    color: var(--primary-80);
    border: 1px solid var(--primary-80);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding:17.5px 32px ;
}