section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mloginLogo{
    width: 74px;
}
.mloginLeft{
    width: 50%;
    display: flex;

}
.mloginRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{}
.mloginForm{}
.mloginFormType{}
.mloginBox{}
.mloginformDetail{}
.mloginformImg{}
.mloginBox{}
.mloginInput{}
.mloginformDetail{}
.mloginformImg{}
.mloginForget{}
.mloginButton{}
.mloginNew{}
.mloginNew1{}
.mloginNew2{}
.mloginLogo{}
.mloginText{}
.mloginRightImg{}