*{
    line-height: 150%;
    
}
a{
    text-decoration: none;
    color: white;
}
:root{
    --primary:#314C51;
    --primary-90:#42656A;
    --primary-80:#557D83;
    --primary-70:#69969D;
    --primary-60:#7DAFB6;
    --primary-50:#93C8D0;
    --primary-40:#AAE1EA;
    --primary-30:#BEF6FF;
    --primary-20:#DBFAFF;
    --primary-10:#F8FEFF;
                    
    --secondary:#444138;
    --secondary-90:#59544A;
    --secondary-80:#6D685D;
    --secondary-70:#827C70;
    --secondary-60:#969184;
    --secondary-50:#AAA599;
    --secondary-40:#BFBAAE;
    --secondary-30:#D3CFC4;
    --secondary-20:#E8E4DB;
    --secondary-10:#FCF9F2;


    --natural:#414A53;
    --natural-90:#57626D;
    --natural-80:#6E7A86;
    --natural-70:#86939F;
    --natural-60:#A0ACB9;
    --natural-50:#BAC6D3;
    --natural-40:#D3DAE0;
    --natural-30:#E1E6EB;
    --natural-20:#EDF0F2;
    --natural-10:#F7F5F5;

    
    --success:#044327;
    --success-90:#0C653D;
    --success-80:#178755;
    --success-70:#26A96E;
    --success-60:#38CB89;
    --success-50:#4EEDA6;
    --success-40:#79FDC2;
    --success-30:#A1FFD5;
    --success-20:#C7FFE6;
    --success-10:#EEFFF7;
    
    
    --warning:#5C3E00;
    --warning-90:#855900;
    --warning-80:#AD7400;
    --warning-70:#D69000;
    --warning-60:#FFAB00;
    --warning-50:#FFBA2E;
    --warning-40:#FFC95C;
    --warning-30:#FFD88A;
    --warning-20:#FFE7B7;
    --warning-10:#FFF6E5;
    
    
    --error:#551000;
    --error-90:#771600;
    --error-80:#991F04;
    --error-70:#BB2F0F;
    --error-60:#DD411e;
    --error-50:#FF5630;
    --error-40:#FF7C5e;
    --error-30:#FFA28D;
    --error-20:#FFC8BC;
    --error-10:#FFEEEA;
    

    --info:#001E55;
    --info-90:#012A77;
    --info-80:#093B99;
    --info-70:#154FBB;
    --info-60:#2465DD;
    --info-50:#377DFF;
    --info-40:#649AFF;
    --info-30:#91B7FF;
    --info-20:#BED5FF;
    --info-10:#ECFDF3;
    
    
}
.button{
    font-family: "Yekan-Bold";
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-80);
    border-radius: 8px;
    color: white;
}
.button:hover{
    background-color: var(--primary-90);
}
